body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    background-color: #333;
}

header {
    background-color: #222;
    padding: 10px;
    text-align: center;
}

h1 {
    font-weight: 600;
    color: #fff;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 10px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #00aaff;
}

a {
    color: #00aaff;
    text-decoration: none;
}

a:hover {
    color: #66c2ff;
    text-decoration: underline;
}

a:visited {
    color: #4d88b2;
}

form {
    margin-top: 20px ;
    max-width: 600px;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    color: #fff;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; /* центрування контейнера */
}

.sidebar {
    width: 30%;
    float: left;
}

.main-content {
    width: 70%;
    float: left;
}

/* Медіазапит для екранів менше 600px */
@media (max-width: 600px) {
    .sidebar, .main-content {
        width: 100%;
        float: none;
    }
}

/* Медіазапит для екранів від 601px до 767px */
@media (min-width: 601px) and (max-width: 767px) {
    .sidebar {
        width: 100%; /* Бокова панель на всю ширину екрану */
        float: none;
    }
}

/* Медіазапит для екранів від 768px до 991px */
@media (min-width: 768px) and (max-width: 991px) {
    .sidebar {
        width: 30%; /* Повернення ширини бокової панелі для середніх екранів */
        float: left;
    }
}

/* Медіазапит для екранів від 992px до 1199px */
@media (min-width: 992px) and (max-width: 1199px) {
    /* Зміни для середніх екранів */
}

/* Медіазапит для екранів 1200px і більше */
@media (min-width: 1200px) {
    /* Зміни для широких екранів */
}

input,
textarea,
select {
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    background-color: #444;
    color: #fff;
    border: 1px solid #666;
}

input[type="submit"],
input[type="reset"] {
    width: auto;
    display: inline-block;
    margin-right: 10px;
}

input[type="checkbox"] {
    width: auto;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

input[type="radio"] {
    width: auto;
    display: inline-block;
    margin-right: 5px;
}


footer {
    background-color: #222;
    padding: 10px;
    text-align: center;
}

